<!DOCTYPE html>
<html lang="en" ng-app>
<!-- ng-app inizializza Angular su un preciso elemento HMTL, in questo caso tutta la pagina -->
<head>
	<meta charset="UTF-8">
	<title>AngularJS template</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- Libs + script -->
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="js/app.js"></script>

</head>
<body>

	<div class="container">
		<h1>AngularJS Hello world</h1>
		<input type="text" class="form-control" ng-model="userInput">
		<p>Stai scrivendo: <strong>{{userInput}}</strong></p>
		<hr>
		<div class="row">
			<div class="col-md-4">
				<input type="number" class="form-control" ng-model="num1">
			</div>
			<div class="col-md-4">
				<input type="number" class="form-control" ng-model="num2">
			</div>
			<div class="col-md-4">
				<p>Totale: <strong>{{num1 + num2}}</strong></p>
			</div>
		</div>
	</div>
	
</body>
</html>